data/Stop_Data.csv filter=lfs diff=lfs merge=lfs -text
plots/PEDESTRIAN_stop_per_year.png filter=lfs diff=lfs merge=lfs -text
plots/p_race_given_year.png filter=lfs diff=lfs merge=lfs -text
plots/stops_per_pdistrict.png filter=lfs diff=lfs merge=lfs -text
plots/TrafficArrests_RACE.png filter=lfs diff=lfs merge=lfs -text
plots/wards.png filter=lfs diff=lfs merge=lfs -text
